.env
.env.*
*.key
*.pem
*.jks
*.keystore
key.properties
wg0.conf
server_private.key
client_private.key
config.json
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
coordinator/dev.db
node-daemon/dev.db
.idea/
.vscode/
.DS_Store
__pycache__/
node_modules/
